<section>
    <div class="container">
        <div class="row account-wall">
        
            <div class="col-sm-12">

                <h1>Editing user</h1>
                
                <%= render 'form' %>
                
                <%= link_to 'Show', @user %>
                
                <!--https://www.youtube.com/watch?v=s09NJvm6VCM-->
            </div>
        </div>
    </div>
</section>