<div class="two_column" id="middle_column">
		


  <div class="whatsnew">
           <center> <a name="Business"><h1>REAL ESTATE MORTGAGE</h1></a>

		   
		   <p align="center"><font size="2">If you apply for 1% - 20% of the appraised value of your collateral, you are entitled for<br> as low as <font face="times new roman" size="5"><i>1.5% </i></font>  Interest Rate.				
			</font></p><font size="2">

<table class="table">
<tbody><tr>
<th bgcolor="yellow">1.5%<br>Interest Rate</th>
<th>3 months</th>
<th>6 months</th>
<th>9 months</th>
<th>12 months</th>
<th>18 months</th>
<th>24 months</th>
<th>36 months</th>
<th>48 months</th>
</tr>
<tr>
<th colspan="9"></th>
</tr>
<tr>
<th>50, 000</th>
<td>17, 417</td>
<td>9, 083</td>
<td>6, 306</td>
<td>4, 917</td>
<td>3, 528</td>
<td>2, 833</td>
<td>2, 139</td>
<td>1, 792</td>
</tr>
<tr>
<th bgcolor="ececec">60, 000</th>
<td bgcolor="ececec">20, 900</td>
<td bgcolor="ececec">10, 900</td>
<td bgcolor="ececec">7, 567</td>
<td bgcolor="ececec">5, 900</td>
<td bgcolor="ececec">4, 233</td>
<td bgcolor="ececec">3, 400</td>
<td bgcolor="ececec">2, 567</td>
<td bgcolor="ececec">2, 150</td>
</tr>
<tr>
<th>70, 000</th>
<td>24, 383</td>
<td>12, 717</td>
<td>8, 828</td>
<td>6, 883</td>
<td>4, 939</td>
<td>3, 967</td>
<td>2, 994</td>
<td>2, 508</td>
</tr>
<tr>
<th bgcolor="ececec">80, 000</th>
<td bgcolor="ececec">27, 867</td>
<td bgcolor="ececec">14, 533</td>
<td bgcolor="ececec">10, 089</td>
<td bgcolor="ececec">7, 867</td>
<td bgcolor="ececec">5, 644</td>
<td bgcolor="ececec">4, 533</td>
<td bgcolor="ececec">3, 422</td>
<td bgcolor="ececec">2, 867</td>
</tr><tr>
<th>90, 000</th>
<td>31, 350</td>
<td>16, 350</td>
<td>11, 350</td>
<td>8, 850</td>
<td>6, 350</td>
<td>5, 100</td>
<td>3, 850</td>
<td>3, 225</td>
</tr><tr>
<th bgcolor="ececec">100, 000</th>
<td bgcolor="ececec">34, 833</td>
<td bgcolor="ececec">18, 167</td>
<td bgcolor="ececec">12, 611</td>
<td bgcolor="ececec">9, 833</td>
<td bgcolor="ececec">7, 056</td>
<td bgcolor="ececec">5, 667</td>
<td bgcolor="ececec">4, 278</td>
<td bgcolor="ececec">3, 583</td>
</tr><tr>
<th>120, 000</th>
<td>41, 800</td>
<td>21, 800</td>
<td>15, 133</td>
<td>11, 800</td>
<td>8, 467</td>
<td>6, 800</td>
<td>5, 133</td>
<td>4, 300</td>
</tr><tr>
<th bgcolor="ececec">140, 000</th>
<td bgcolor="ececec">48, 767</td>
<td bgcolor="ececec">25, 433</td>
<td bgcolor="ececec">17, 656</td>
<td bgcolor="ececec">13, 767</td>
<td bgcolor="ececec">9, 878</td>
<td bgcolor="ececec">7, 933</td>
<td bgcolor="ececec">5, 989</td>
<td bgcolor="ececec">5, 017</td>
</tr><tr>
<th>160, 000</th>
<td>55, 733</td>
<td>29, 067</td>
<td>20, 178</td>
<td>15, 733</td>
<td>11, 289</td>
<td>9, 067</td>
<td>6, 844</td>
<td>5, 733</td>
</tr><tr>
<th bgcolor="ececec">180, 000</th>
<td bgcolor="ececec">62, 700</td>
<td bgcolor="ececec">32, 700</td>
<td bgcolor="ececec">22, 700</td>
<td bgcolor="ececec">17, 700</td>
<td bgcolor="ececec">12, 700</td>
<td bgcolor="ececec">10, 200</td>
<td bgcolor="ececec">7, 700</td>
<td bgcolor="ececec">6, 450</td>
</tr><tr>
<th>200, 000</th>
<td>69, 667</td>
<td>36, 333</td>
<td>25, 222</td>
<td>19, 667</td>
<td>14, 111</td>
<td>11, 333</td>
<td>8, 556</td>
<td>7, 167</td>
</tr><tr>
<th bgcolor="ececec">300, 000</th>
<td bgcolor="ececec">104, 500</td>
<td bgcolor="ececec">54, 500</td>
<td bgcolor="ececec">37, 833</td>
<td bgcolor="ececec">29, 500</td>
<td bgcolor="ececec">21, 167</td>
<td bgcolor="ececec">17, 000</td>
<td bgcolor="ececec">12, 833</td>
<td bgcolor="ececec">10, 750</td>
</tr><tr>
<th>400, 000</th>
<td>139, 333</td>
<td>72, 667</td>
<td>50, 444</td>
<td>39, 333</td>
<td>28, 222</td>
<td>22, 667</td>
<td>17, 111</td>
<td>14, 333</td>
</tr><tr>
<th bgcolor="ececec">500, 000</th>
<td bgcolor="ececec">174, 167</td>
<td bgcolor="ececec">90, 833</td>
<td bgcolor="ececec">63, 056</td>
<td bgcolor="ececec">49, 167</td>
<td bgcolor="ececec">35, 278</td>
<td bgcolor="ececec">28, 333</td>
<td bgcolor="ececec">21, 389</td>
<td bgcolor="ececec">17, 917</td>
</tr><tr>
<th>600, 000</th>
<td>209, 000</td>
<td>109, 000</td>
<td>75, 667</td>
<td>59, 000</td>
<td>42, 333</td>
<td>34, 000</td>
<td>25, 667</td>
<td>21, 500</td>
</tr><tr>
<th bgcolor="ececec">700, 000</th>
<td bgcolor="ececec">243, 833</td>
<td bgcolor="ececec">127, 167</td>
<td bgcolor="ececec">88, 278</td>
<td bgcolor="ececec">68, 833</td>
<td bgcolor="ececec">49, 389</td>
<td bgcolor="ececec">39, 667</td>
<td bgcolor="ececec">29, 944</td>
<td bgcolor="ececec">25, 083</td>
</tr><tr>
<th>800, 000</th>
<td>278, 667</td>
<td>145, 333</td>
<td>100, 889</td>
<td>78, 667</td>
<td>56, 444</td>
<td>45, 333</td>
<td>34, 222</td>
<td>28, 667</td>
</tr><tr>
<th bgcolor="ececec">900, 000</th>
<td bgcolor="ececec">313, 500</td>
<td bgcolor="ececec">163, 500</td>
<td bgcolor="ececec">113, 500</td>
<td bgcolor="ececec">88, 500</td>
<td bgcolor="ececec">63, 500</td>
<td bgcolor="ececec">51, 000</td>
<td bgcolor="ececec">38, 500</td>
<td bgcolor="ececec">32, 250</td>
</tr><tr>
<th>950, 000</th>
<td>330, 917</td>
<td>172, 583</td>
<td>119, 806</td>
<td>93, 417</td>
<td>67, 028</td>
<td>53, 833</td>
<td>40, 639</td>
<td>34, 042</td>
</tr>
</tbody></table>
		
<br><br>			

<p align="center"><font size="2">If you apply for 21% - 60% of the appraised value of your collateral, you are entitled for<br> as low as <font face="times new roman" size="5"><i>2.0% </i></font>  Interest Rate.				
			</font></p><font size="2">			
			
<table class="table">
<tbody><tr>
<th bgcolor="yellow">2.0%<br>Interest Rate</th>
<th>3 months</th>
<th>6 months</th>
<th>9 months</th>
<th>12 months</th>
<th>18 months</th>
<th>24 months</th>
<th>36 months</th>
<th>48 months</th>
</tr>
<tr>
<th colspan="9"></th>
</tr>
<tr>
<th>50, 000 </th>
<td>17, 667 </td>
<td>9, 333 </td>
<td>6, 556 </td>
<td> 5, 167</td>
<td> 3, 778</td>
<td> 3, 083</td>
<td> 2, 389</td>
<td> 2, 042</td>			
</tr>			
<tr>
<th bgcolor="ececec">60, 000 </th>
<td bgcolor="ececec"> 21, 200</td>		
<td bgcolor="ececec"> 11, 200</td>		
<td bgcolor="ececec"> 78, 67</td>		
<td bgcolor="ececec"> 6, 200</td>		
<td bgcolor="ececec"> 4, 533</td>		
<td bgcolor="ececec"> 3, 700</td>		
<td bgcolor="ececec"> 2, 867</td>		
<td bgcolor="ececec"> 2, 450</td>		
</tr>
<tr>
<th>70, 000 </th>
<td> 24, 733</td>
<td> 13, 067</td>
<td> 9, 178</td>
<td> 7, 233</td>
<td> 5, 289</td>
<td> 4, 317</td>
<td> 3, 344</td>
<td> 2, 858</td>			
</tr>			
<tr>
<th bgcolor="ececec">80, 000 </th>
<td bgcolor="ececec">28, 267 </td>		
<td bgcolor="ececec">14, 933 </td>		
<td bgcolor="ececec">10, 489 </td>		
<td bgcolor="ececec">8, 267 </td>		
<td bgcolor="ececec">6, 044 </td>		
<td bgcolor="ececec">4, 933 </td>		
<td bgcolor="ececec">3, 822 </td>		
<td bgcolor="ececec">3, 267 </td>	
</tr>
<tr>
<th>90, 000 </th>
<td>31, 800 </td>
<td> 16, 800</td>
<td> 11, 800</td>
<td> 9, 300</td>
<td> 6, 800</td>
<td> 5, 550</td>
<td> 4, 300</td>
<td> 3, 675</td>			
</tr>			
<tr>
<th bgcolor="ececec">100, 000 </th>
<td bgcolor="ececec"> 35, 333	</td>
<td bgcolor="ececec"> 18, 667	</td>
<td bgcolor="ececec"> 13, 111	</td>
<td bgcolor="ececec">10, 333 </td>
<td bgcolor="ececec"> 7, 556	</td>
<td bgcolor="ececec"> 6, 167	</td>
<td bgcolor="ececec"> 4, 778	</td>
<td bgcolor="ececec">4, 083 </td>

</tr><tr>
<th>120, 000</th>
<td>  42, 400</td>
<td> 22, 400</td>
<td> 15, 733</td>
<td> 12, 400</td>
<td> 9, 067</td>
<td>7, 400</td>
<td> 5, 733</td>
<td> 4, 900</td>
	
</tr>			
<tr>
<th bgcolor="ececec"> 140, 000</th>
<td bgcolor="ececec"> 49, 467</td>
<td bgcolor="ececec"> 26, 133</td>
<td bgcolor="ececec"> 18, 356</td>
<td bgcolor="ececec">14, 467</td>
<td bgcolor="ececec"> 10, 578</td>
<td bgcolor="ececec">8, 633</td>
<td bgcolor="ececec">6, 689</td>
<td bgcolor="ececec">5, 717</td>
</tr><tr>
<th> 160, 000</th>
<td> 56, 533</td>
<td> 29, 867</td>
<td> 20, 978</td>
<td> 16, 533</td>
<td>12, 089</td>
<td> 9, 867</td>
<td> 7, 644</td>
<td> 	6, 533</td>
</tr>			
<tr>
<th bgcolor="ececec"> 180, 000</th>
<td bgcolor="ececec"> 63, 600</td>
<td bgcolor="ececec"> 	33, 600</td>
<td bgcolor="ececec"> 	23, 600</td>
<td bgcolor="ececec"> 18, 600</td>
<td bgcolor="ececec"> 	13, 600</td>
<td bgcolor="ececec"> 11, 100</td>
<td bgcolor="ececec"> 8, 600</td>
<td bgcolor="ececec"> 7, 350</td>
</tr><tr>
<th> 200, 000</th>
<td> 70, 667</td>
<td> 37, 333</td>
<td> 26, 222</td>
<td> 20, 667</td>
<td>15, 111</td>
<td> 12, 333</td>
<td> 9, 556</td>
<td> 	8, 167</td>
</tr>			
<tr>
<th bgcolor="ececec"> 300, 000</th>
<td bgcolor="ececec"> 	106, 000</td>
<td bgcolor="ececec"> 		56, 000</td>
<td bgcolor="ececec"> 	39, 333</td>
<td bgcolor="ececec"> 31, 000</td>
<td bgcolor="ececec"> 	22, 667</td>
<td bgcolor="ececec"> 18, 500</td>
<td bgcolor="ececec"> 14, 333</td>
<td bgcolor="ececec"> 12, 250</td>
</tr><tr>
<th> 400, 000</th>
<td> 141, 333</td>
<td> 74, 667</td>
<td> 52, 444</td>
<td> 41, 333</td>
<td>30, 222</td>
<td> 24, 667</td>
<td> 19, 111</td>
<td> 	16, 333</td>
</tr>			
<tr>
<th bgcolor="ececec"> 500, 000</th>
<td bgcolor="ececec"> 	176, 667</td>
<td bgcolor="ececec"> 		93, 333</td>
<td bgcolor="ececec"> 	65, 556</td>
<td bgcolor="ececec"> 51, 667</td>
<td bgcolor="ececec"> 	37, 778</td>
<td bgcolor="ececec"> 30, 833</td>
<td bgcolor="ececec"> 23, 889</td>
<td bgcolor="ececec"> 20, 417</td>
</tr><tr>
<th> 600, 000</th>
<td> 212, 000</td>
<td> 112, 000</td>
<td> 78, 667</td>
<td> 62, 000</td>
<td>45, 333</td>
<td> 37 ,000</td>
<td> 28, 667</td>
<td> 	24, 500</td>
</tr>			
<tr>
<th bgcolor="ececec"> 700, 000</th>
<td bgcolor="ececec"> 	247, 333</td>
<td bgcolor="ececec"> 		130, 667</td>
<td bgcolor="ececec"> 	91, 778</td>
<td bgcolor="ececec"> 72, 333</td>
<td bgcolor="ececec"> 	52, 889</td>
<td bgcolor="ececec"> 43, 167</td>
<td bgcolor="ececec"> 33, 444</td>
<td bgcolor="ececec"> 28, 583</td>
</tr><tr>
<th> 800, 000</th>
<td> 282, 667</td>
<td> 149, 333</td>
<td> 104, 889</td>
<td> 82, 667</td>
<td>60, 444</td>
<td> 49, 333</td>
<td> 38, 222</td>
<td> 	32, 667</td>
</tr>			
<tr>
<th bgcolor="ececec"> 900, 000</th>
<td bgcolor="ececec"> 318, 000</td>
<td bgcolor="ececec">  168, 000</td>
<td bgcolor="ececec">  118, 000</td>
<td bgcolor="ececec">  93, 000</td>
<td bgcolor="ececec">  68, 000</td>
<td bgcolor="ececec">  55, 500</td>
<td bgcolor="ececec">  43, 000</td>
<td bgcolor="ececec">  36, 750</td>
</tr><tr>
<th> 950, 000</th>
<td> 335, 667</td>
<td>  177, 333</td>
<td> 124, 556</td>
<td> 98, 167</td>
<td> 71, 778</td>
<td> 58, 583</td>
<td>  45, 389</td>
<td> 38, 792</td>
</tr>			
	
</tbody></table>			

<br><br>

<p align="center"><font size="2">If you apply for 61% - 100% of the appraised value of your collateral, you are entitled for<br> as low as <font face="times new roman" size="5"><i>2.5% </i></font>  Interest Rate.				
			</font></p><font size="2">
			
<table class="table">
<tbody><tr>
<th bgcolor="yellow">2.5%<br>Interest Rate</th>
<th>3 months</th>
<th>6 months</th>
<th>9 months</th>
<th>12 months</th>
<th>18 months</th>
<th>24 months</th>
<th>36 months</th>
<th>48 months</th>
</tr>
<tr>
<th colspan="9"></th>
</tr>
<tr>			
<th>50, 000</th>
<td>  17, 917</td>
<td> 9, 583</td>
<td> 6, 806</td>
<td> 5, 417</td>
<td> 4, 028</td>
<td> 3, 333</td>
<td> 2, 639</td>
<td> 2, 292</td>
</tr>
<tr>
<th bgcolor="ececec"> 60, 000</th>
<td bgcolor="ececec"> 21, 500</td>
<td bgcolor="ececec"> 11, 500</td>
<td bgcolor="ececec"> 8, 167</td>
<td bgcolor="ececec"> 6, 500</td>
<td bgcolor="ececec"> 4, 833</td>
<td bgcolor="ececec"> 4, 000</td>
<td bgcolor="ececec"> 3, 167</td>
<td bgcolor="ececec"> 2, 750</td>
</tr>
<tr>
<th> 70, 000</th>
<td> 25, 083</td>
<td> 13, 417</td>
<td> 9, 528</td>
<td> 7, 583</td>
<td> 5, 639</td>
<td> 4, 667</td>
<td> 3, 694</td>
<td> 3, 208</td>
</tr>
<tr>
<th bgcolor="ececec"> 80, 000</th>
<td bgcolor="ececec"> 28, 667</td>
<td bgcolor="ececec"> 1, 533</td>
<td bgcolor="ececec"> 10, 889</td>
<td bgcolor="ececec"> 8, 667</td>
<td bgcolor="ececec"> 6, 444</td>
<td bgcolor="ececec"> 5, 333</td>
<td bgcolor="ececec"> 4, 222</td>
<td bgcolor="ececec"> 3, 667</td>
</tr><tr>
<th> 90, 000</th>
<td> 32, 250</td>
<td> 17, 250</td>
<td> 12, 250</td>
<td> 9, 750</td>
<td> 7, 250</td>
<td> 6, 000</td>
<td> 4, 750</td>
<td> 4, 125</td>
</tr>
<tr>
<th bgcolor="ececec"> 100, 000</th>
<td bgcolor="ececec"> 35, 833</td>
<td bgcolor="ececec"> 19, 167</td>
<td bgcolor="ececec"> 13, 611</td>
<td bgcolor="ececec"> 10, 833</td>
<td bgcolor="ececec"> 8, 056</td>
<td bgcolor="ececec"> 6, 667</td>
<td bgcolor="ececec"> 5, 278</td>
<td bgcolor="ececec"> 4, 583</td>
</tr><tr>
<th> 120, 000</th>
<td> 43, 000</td>
<td> 23, 000</td>
<td> 16, 333</td>
<td> 13, 000</td>
<td> 9, 667</td>
<td> 8, 000</td>
<td> 6, 333</td>
<td> 5, 500</td>
</tr>
<tr>
<th bgcolor="ececec"> 140, 000</th>
<td bgcolor="ececec"> 50, 167</td>
<td bgcolor="ececec"> 26, 833</td>
<td bgcolor="ececec"> 19, 056</td>
<td bgcolor="ececec"> 15, 167</td>
<td bgcolor="ececec"> 11, 278</td>
<td bgcolor="ececec"> 9, 333</td>
<td bgcolor="ececec"> 7, 389</td>
<td bgcolor="ececec"> 6, 417</td>
</tr><tr>
<th> 160, 000</th>
<td> 57, 733</td>
<td> 30, 667</td>
<td> 21, 778</td>
<td> 17,333</td>
<td> 12, 889</td>
<td> 10, 667</td>
<td> 8, 444</td>
<td> 7, 333</td>
</tr>
<tr>
<th bgcolor="ececec"> 180, 000</th>
<td bgcolor="ececec"> 64, 500</td>
<td bgcolor="ececec"> 34, 500</td>
<td bgcolor="ececec"> 24, 500</td>
<td bgcolor="ececec"> 19, 500</td>
<td bgcolor="ececec"> 14, 500</td>
<td bgcolor="ececec"> 12, 000</td>
<td bgcolor="ececec"> 9, 500</td>
<td bgcolor="ececec"> 8, 250</td>
</tr><tr>
<th> 200, 000</th>
<td> 71, 667</td>
<td> 38, 333</td>
<td> 27, 222</td>
<td> 21, 667</td>
<td> 16, 111</td>
<td> 13, 333</td>
<td> 10, 556</td>
<td> 9, 167</td>
</tr>
<tr>
<th bgcolor="ececec">300, 000</th> 
<td bgcolor="ececec"> 107, 500</td>
<td bgcolor="ececec"> 57, 500</td>
<td bgcolor="ececec"> 40, 833</td>
<td bgcolor="ececec"> 32, 500</td>
<td bgcolor="ececec"> 24, 167</td>
<td bgcolor="ececec"> 20, 000</td>
<td bgcolor="ececec"> 15, 833</td>
<td bgcolor="ececec"> 13, 750</td>
</tr><tr>
<th> 400, 000</th>
<td> 143, 333</td>
<td> 76, 667</td>
<td> 54, 444</td>
<td> 43,333</td>
<td> 32, 222</td>
<td> 26, 667</td>
<td> 21, 111</td>
<td> 18, 333</td>
</tr>
<tr>
<th bgcolor="ececec"> 500, 000</th> 
<td bgcolor="ececec"> 179, 167</td>
<td bgcolor="ececec"> 95, 833</td>
<td bgcolor="ececec"> 68, 056</td>
<td bgcolor="ececec"> 54, 167</td>
<td bgcolor="ececec"> 40, 278</td>
<td bgcolor="ececec"> 33, 333</td>
<td bgcolor="ececec"> 26, 389</td>
<td bgcolor="ececec"> 22, 917</td>
</tr><tr>
<th> 600, 000</th>
<td> 215, 000</td>
<td> 115, 000</td>
<td> 81, 667</td>
<td> 65, 000</td>
<td> 48, 333</td>
<td> 40, 000</td>
<td> 31, 667</td>
<td> 27, 500</td>
</tr>
<tr>
<th bgcolor="ececec"> 700, 000</th>
<td bgcolor="ececec"> 250, 833</td>
<td bgcolor="ececec"> 134, 167</td>
<td bgcolor="ececec"> 95, 278</td>
<td bgcolor="ececec"> 75, 833</td>
<td bgcolor="ececec"> 56, 389</td>
<td bgcolor="ececec"> 46, 667</td>
<td bgcolor="ececec"> 36, 944</td>
<td bgcolor="ececec"> 32, 083</td>
</tr><tr>
<th> 800, 000</th>
<td> 286, 667</td>
<td> 153, 333</td>
<td> 108, 889</td>
<td> 86, 667</td>
<td> 64, 444</td>
<td> 53, 333</td>
<td> 42, 222</td>
<td>36, 667</td>
</tr><tr>
<th bgcolor="ececec"> 900, 000</th>
<td bgcolor="ececec"> 322, 500</td>
<td bgcolor="ececec"> 172, 500</td>
<td bgcolor="ececec"> 122, 500</td>
<td bgcolor="ececec"> 97, 500</td>
<td bgcolor="ececec"> 72, 500</td>
<td bgcolor="ececec"> 60, 000</td>
<td bgcolor="ececec"> 47, 500</td>
<td bgcolor="ececec"> 41, 250</td>
</tr><tr>
<th> 950, 000</th>
<td> 340, 417</td>
<td> 182, 083</td>
<td> 129, 306</td>
<td> 102, 917</td>
<td> 76, 528</td>
<td> 63, 333</td>
<td> 50, 139</td>
<td> 43, 542</td>
</tr>


</tbody></table>
			
</font></font></font></center><font size="2"><font size="2"><font size="2">			
</font></font></font></div><font size="2"><font size="2"><font size="2">

<br><br>

  <div class="mortgage">
           <center> <a name="Business"><h1>CHATTEL MORTGAGE</h1></a>

		   <p align="center"><font face="times new roman" size="6">I</font><font size="2">nterest Rate varies upon the corresponding desired amount of your loan application.	
			</font></p><font size="2">
		   
<table class="table2">
<tbody><tr>
<th colspan="2"><font color="white">-----------------------------</font></th>
<th>3 months</th>
<th>6 months</th>
<th>9 months</th>
<th>12 months</th>
<th>18 months</th>
<th>24 months</th>
</tr>
<tr>
<th colspan="8"></th>
</tr>
<tr>
<th width="30" bgcolor="#ffff99" rowspan="4">5%</th>
<th>15, 000</th>
<td>5, 750</td>
<td>3, 250</td>
<td>2, 417</td>
<td>2, 000</td>
<td>1, 583</td>
<td>1, 375</td>
</tr>
<tr>
<th bgcolor="ececec">20, 000</th>
<td bgcolor="ececec">7, 667</td>
<td bgcolor="ececec">4, 333</td>
<td bgcolor="ececec">3, 222</td>
<td bgcolor="ececec">2, 667</td>
<td bgcolor="ececec">2, 111</td>
<td bgcolor="ececec">1, 833</td>
</tr>
<tr>
<th>25, 000</th>
<td>9, 583</td>
<td>5, 417</td>
<td>4, 028</td>
<td>3, 333</td>
<td>2, 639</td>
<td>2, 292</td>
</tr>
<tr>
<th bgcolor="ececec">30, 000</th>
<td bgcolor="ececec">11, 500</td>
<td bgcolor="ececec">6, 500</td>
<td bgcolor="ececec">4, 833</td>
<td bgcolor="ececec">4, 000</td>
<td bgcolor="ececec">3, 167</td>
<td bgcolor="ececec">2, 750</td>
</tr>
<tr>
<th colspan="8"></th>
</tr>
<tr>
<th bgcolor="#ffff66" rowspan="23">3%</th>
<th>35, 000</th>
<td>12, 717</td>
<td>6, 883</td>
<td>4, 939</td>
<td>3, 967</td>
<td>2, 994</td>
<td>2, 508</td>
</tr>
<tr>
<th bgcolor="ececec">40, 000</th>
<td bgcolor="ececec">14, 533</td>
<td bgcolor="ececec">7, 867</td>
<td bgcolor="ececec">5, 644</td>
<td bgcolor="ececec">4, 533</td>
<td bgcolor="ececec">3, 422</td>
<td bgcolor="ececec">2, 867</td>
</tr>
<tr>
<th>45, 000</th>
<td>16, 350</td>
<td>8, 850</td>
<td>6, 350</td>
<td>5, 100</td>
<td>3, 850</td>
<td>3, 225</td>
</tr>
<tr>
<th bgcolor="ececec">50, 000</th>
<td bgcolor="ececec">18, 167</td>
<td bgcolor="ececec">9, 833</td>
<td bgcolor="ececec">7, 056</td>
<td bgcolor="ececec">5, 667</td>
<td bgcolor="ececec">4, 278</td>
<td bgcolor="ececec">3, 583</td>
</tr>
<tr>
<th>55, 000</th>
<td>19, 983</td>
<td>10, 817</td>
<td>7, 761</td>
<td>6, 233</td>
<td>4, 706</td>
<td>3, 942</td>
</tr>
<tr>
<th bgcolor="ececec">60, 000</th>
<td bgcolor="ececec">21, 800</td>
<td bgcolor="ececec">11, 800</td>
<td bgcolor="ececec">8, 467</td>
<td bgcolor="ececec">6, 800</td>
<td bgcolor="ececec">5, 133</td>
<td bgcolor="ececec">4, 300</td>
</tr><tr>
<th>65, 000</th>
<td>23, 617</td>
<td>12, 783</td>
<td>9, 172</td>
<td>7, 367</td>
<td>5, 561</td>
<td>4, 658</td>
</tr>
<tr>
<th bgcolor="ececec">70, 000</th>
<td bgcolor="ececec">25, 433</td>
<td bgcolor="ececec">13, 767</td>
<td bgcolor="ececec">9, 878</td>
<td bgcolor="ececec">7, 933</td>
<td bgcolor="ececec">5, 989</td>
<td bgcolor="ececec">5, 017</td>
</tr><tr>
<th>75, 000</th>
<td>27, 250 </td>
<td>14, 750</td>
<td>10, 583</td>
<td>8, 500</td>
<td>6, 417</td>
<td>5, 375</td>
</tr>
<tr>
<th bgcolor="ececec">80, 000</th>
<td bgcolor="ececec">29, 067</td>
<td bgcolor="ececec">16, 733</td>
<td bgcolor="ececec">11, 289</td>
<td bgcolor="ececec">9, 067</td>
<td bgcolor="ececec">6, 844</td>
<td bgcolor="ececec">5, 733</td>
</tr><tr>
<th>90, 000</th>
<td>32, 700</td>
<td>17, 700</td>
<td>12, 700</td>
<td>10, 200</td>
<td>7, 700</td>
<td>6, 450</td>
</tr>
<tr>
<th bgcolor="ececec">95, 000</th>
<td bgcolor="ececec">34, 517</td>
<td bgcolor="ececec">18, 683</td>
<td bgcolor="ececec">13, 406</td>
<td bgcolor="ececec">10, 767</td>
<td bgcolor="ececec">8, 128</td>
<td bgcolor="ececec">6, 808</td>
</tr><tr>
<th>100, 000</th>
<td>36, 333</td>
<td>19, 667</td>
<td>14, 111</td>
<td>11, 333</td>
<td>8, 556</td>
<td>7, 167</td>
</tr>
<tr>
<th bgcolor="ececec">110, 000</th>
<td bgcolor="ececec">39, 967</td>
<td bgcolor="ececec">21, 633</td>
<td bgcolor="ececec">15, 522</td>
<td bgcolor="ececec">12, 467</td>
<td bgcolor="ececec">9, 411</td>
<td bgcolor="ececec">7, 883</td>
</tr><tr>
<th>120, 000</th>
<td>43, 600</td>
<td>23, 600</td>
<td>16, 933</td>
<td>13, 600</td>
<td>10, 267</td>
<td>8, 600</td>
</tr>
<tr>
<th bgcolor="ececec">130, 000</th>
<td bgcolor="ececec">47, 233</td>
<td bgcolor="ececec">25, 567</td>
<td bgcolor="ececec">18, 344</td>
<td bgcolor="ececec">14, 733</td>
<td bgcolor="ececec">11, 122</td>
<td bgcolor="ececec">9, 317</td>
</tr><tr>
<th>140, 000</th>
<td>50, 867</td>
<td>27, 533</td>
<td>19, 756</td>
<td>15, 867</td>
<td>11, 978</td>
<td>10, 033</td>
</tr><tr>
<th bgcolor="ececec">150, 000</th>
<td bgcolor="ececec">54, 500</td>
<td bgcolor="ececec">29, 500</td>
<td bgcolor="ececec">21, 167</td>
<td bgcolor="ececec">17, 000</td>
<td bgcolor="ececec">12, 833</td>
<td bgcolor="ececec">10, 750</td>
</tr><tr>
<th>160, 000</th>
<td>58, 133</td>
<td>31, 467</td>
<td>22, 578</td>
<td>18, 133</td>
<td>13, 689</td>
<td>11, 467</td>
</tr>
<tr>
<th bgcolor="ececec">170, 000</th>
<td bgcolor="ececec">61, 767</td>
<td bgcolor="ececec">33, 433</td>
<td bgcolor="ececec">23, 989</td>
<td bgcolor="ececec">19, 267</td>
<td bgcolor="ececec">14, 544</td>
<td bgcolor="ececec">12, 183</td>
</tr><tr>
<th>180, 000</th>
<td>65, 400</td>
<td>35, 400</td>
<td>25, 400</td>
<td>20, 400</td>
<td>15, 400</td>
<td>12, 900</td>
</tr>
<tr>
<th bgcolor="ececec">190, 000</th>
<td bgcolor="ececec">69, 033</td>
<td bgcolor="ececec">37, 367</td>
<td bgcolor="ececec">26, 811</td>
<td bgcolor="ececec">21, 533</td>
<td bgcolor="ececec">16, 253</td>
<td bgcolor="ececec">13, 617</td>
</tr><tr>
<th>200, 000</th>
<td>72, 667</td>
<td>39, 333</td>
<td>28, 222</td>
<td>22, 667</td>
<td>17, 111</td>
<td>14, 333</td>
</tr>
</tbody></table>
		   
</font></center><font size="2">			
</font></div><font size="2">
		   
	
</font></font></font></font></div>