<div class="col-lg-6">
    <div class="list-group">
        <a href="#info" class="list-group-item active">
            <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> DWBH business hours?</h3>
        </a>
        <a href="#info" class="list-group-item">
             <p>
                Our offices are open on Monday - Friday, from 8:30 AM - 5:30 PM. Our main office is also open for inquiries only on Saturdays, from 9:00 AM - 5:00 PM. For more details, 
            </p>
        </a>
    
    </div> 
    
    <div class="list-group">
        <a href="#info" class="list-group-item active">
           <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> I want DWBH to finance the car that Im about to buy?</h3>
        </a>
        <a href="#info" class="list-group-item">
            <p>
              Come talk to us about Car Financing and we'll surely be happy to assist you. For more information about this matter
            </p>
        </a>
    
    </div>
    
    <div class="list-group">
        <a href="#info" class="list-group-item active">
            <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> I want to pull-out my property which is still encumbered from other institution?</h3>
        </a>
        <a href="#info" class="list-group-item">
            <p>
                With further negotiation depending on the situation, yes it is possible to finance or pay any remaining balance that our client currently has from other institutions
            </p>
        </a>
    
    </div>
    
    <div class="list-group">
        <a href="#info" class="list-group-item active">
            <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> I want to apply for an emergency loan, but I still have an ongoing loan contract with you?</h3>
        </a>
        <a href="#info" class="list-group-item">
            <p>
                It is possible to apply for another loan regardless if you still have an existing and ongoing loan contract from us. Similar terms and conditions apply
            </p>
        </a>
    
    </div>
    
    <div class="list-group">
        <a href="#info" class="list-group-item active">
            <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> I want to appraise my collateral first before I apply?</h3>
        </a>
        <a href="#info" class="list-group-item">
           <p>
              You have to apply first before we can officially appraise your collateral.
            </p>
        </a>
    
    </div>
    
    <div class="list-group">
        <a href="#info" class="list-group-item active">
            <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> My vehicle is not registered in Cebu?</h3>
        </a>
        <a href="#info" class="list-group-item">
            <p>
              You may need to transfer your vehicle's registration in Cebu if you want to apply for a loan from us
            </p>
        </a>
    
    </div>
    
    <div class="list-group">
        <a href="#info" class="list-group-item active">
            <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> ACCEPTED UTILITY BILLS?</h3>
        </a>
        <a href="#info" class="list-group-item">
            <p>Electrical Bills</p>
        </a>
        <a href="#info" class="list-group-item">
            <p>Water Bills</p>
        </a>
    </div>
</div>

<div class="col-lg-6">
    <div class="list-group">
        <a href="#info" class="list-group-item active">
            <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> I plan on paying my loan ahead of time?</h3>
        </a>
        <a href="#info" class="list-group-item">
            <p>
                Rebates of upto 50% on your interest rates await you if you
            </p>
        </a>
    
    </div> 
    
    <div class="list-group">
        <a href="#info" class="list-group-item active">
           <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> My friend is willing to let me borrow his property as my collateral?</h3>
        </a>
        <a href="#info" class="list-group-item">
            <p>
                Here in DWBH, it is possible to acquire a loan whether the property is yours or not, as long as the owner agrees to the terms and conditions, and must be present upon signing the contract
            </p>
        </a>
    
    </div>
    
    <div class="list-group">
        <a href="#info" class="list-group-item active">
            <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> The owner of the property is abroad(OFW)?</h3>
        </a>
        <a href="#info" class="list-group-item">
          <p>
            Further requirements may be needed such as Special Power of Attorney (S.P.A.) with Red Ribbon from its Embassy.
          </p>
        </a>
    
    </div>
    
    <div class="list-group">
        <a href="#info" class="list-group-item active">
            <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> My friend is willing to let me borrow his property as my collateral?</h3>
        </a>
        <a href="#info" class="list-group-item">
          <p>
            Here in DWBH, it is possible to acquire a loan whether the property is yours or not, as long as the owner agrees to the terms and conditions, and must be present upon signing the contract
          </p>
        </a>
    
    </div>
    
    <div class="list-group">
        <a href="#info" class="list-group-item active">
             <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> I want to use my vehicle as collateral but I am using it everyday?</h3>
        </a>
        <a href="#info" class="list-group-item">
          <p>
            No problem. Here in DWBH, we do not pull-out collateralized properties even after the approval of loan. We only take the original documents- such as title lots, or O.R. &amp; C.R. for vehicles.
          </p>
        </a>
    
    </div>
    
    <div class="list-group">
        <a href="#info" class="list-group-item active">
            <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> The Utility Bill is not under my name?</h3>
        </a>
        <a href="#info" class="list-group-item">
          <p>
            Regardless of whether it is under your name or not, the address must be your current home address.
          </p>
        </a>
    
    </div>

</div>