<section id="services" class="services">
   <div class="container"> 
    <div class="two_column" id="middle_column">
    	
    	
    	<p><font face="lucida" size="5"><i>Greetings from</i></font><i> </i>&nbsp; <font size="5" color="#003366"><b> DWBH !</b></font></p><br>
    	
    
    <p align="justify"><font face="times new roman" size="6">&nbsp;&nbsp;&nbsp;A</font><sup><font size="2">s of present, we have been a key player in the consumer finance industry and is currently one of Cebu's leading financial institutions that aids you with assistance. We are one of the consumer loan center in the industry today offering a variety of products with competitive lending rates. We offer <font face="times new roman" size="5"><i>"Speedy and Easy"</i></font> secured loans to the middle emerging market with the objective of providing them with immediate and easy solutions to their financial needs.</font></sup>
    </p>
    	
    <br>
    	<table>
    	<tbody><tr>

    	<td>
    	<p align="justify"><font face="times new roman" size="6">O</font><sup><font size="2">ur main services cater various secured loan programs on <font face="times new roman" size="5"><i> Real Estate Mortgage</i></font> for our clients with land properties and<font face="times new roman" size="5"><i> Chattel Mortgage</i></font> , suitable for our clients with vehicles of any kind, whether public utility jeepneys or luxurious cars.<br>
    	</font></sup></p>
    	</td>
    	</tr></tbody></table>
    	
    <br>
    
    
    <table>
    	<tbody><tr>
    	<td align="justify">
    	<p align="justify"><font face="times new roman" size="6">B</font><sup><font size="2">ecause we value your needs, we offer a wide and various range of financial services such as <font face="times new roman" size="5"><i>Business Loans, Salary Loans</i></font> and <font face="times new roman" size="5"><i>Allottee Loans</i></font> aimed to address your additional working capital and financing requirement needs.<br>
    	</font></sup></p>
    	</td>
    	<td width="150"></td>
    	</tr></tbody></table>
    	
    <br>
    
    	<table>
    	<tbody><tr>
    	<td align="justify">
    	<p align="justify"><font face="times new roman" size="5"><i>No collateral?</i></font><font size="2"> No problem. You can <font face="times new roman" size="5"><i>borrow another property</i></font> not necessarily under your name - can be a friend's vehicle, or your relative's lot, or even your neighbor's property, as long as you both agree to the terms and conditions.<br>
    	</font></p>
    	</td>
    	</tr></tbody></table>	
    
    
    
    
    <br>
    
    <fieldset style="width:80%; margin:auto">
        <legend><b><i><font size="4"> Why Choose Us? </font></i></b></legend>
    		<br>
    
    <p align="justify"><font face="times new roman" size="6">W</font><sup><font size="2">e offer a wide range of financial services aimed to address your additional working capital and financing requirement needs </font></sup></p><font size="2">
    
    <i class="glyphicon glyphicon-asterisk"></i>  <b>Lowest interest rates</b> for as low as <font color="blue"><b>1.5%!</b></font><br><br>
    <i class="glyphicon glyphicon-asterisk"></i>  <b>Fast and reliable loan</b> for as quick as up to <font color="blue"><b>5 days</b></font> processing time!<br><br>
    <i class="glyphicon glyphicon-asterisk"></i>  <b>Hassle-free and convenient</b> since we  will assist in processing some lacking documents for you while you wait<br><br>
    <i class="glyphicon glyphicon-asterisk"></i>  <b>Accurate appraisals</b> and reasonable amount to your collateral<br><br>
    <i class="glyphicon glyphicon-asterisk"></i>  <b>Flexible terms of payment</b> ranging from <font color="blue"><b>3 months - 48 months!</b></font><br><br>
    <i class="glyphicon glyphicon-asterisk"></i>  <b>Great incentives and benefits</b> for agents and referrals<br><br>
    
        </font></fieldset><font size="2">
    
    	
    		    <div class="whatsnew">
                <h1>What's New</h1>
                <div class="whatsnew_body">
    			<i class="glyphicon glyphicon-thumbs-up"></i><font size="3"> <b>50% Rebates to all DWBH Clients</b></font>
    			<br><br>
    			<p align="justify"><font face="times new roman" size="6">G</font><sup><font size="2">reat news to all our beloved DWBH Clients and to our future loan applicants! DWBH Lending Investors, Inc. now gives rebates to clients who finishes their ongoing contracts ahead of their contract period. Pay early and get as much as 50% full rebates on your interest! For more details and inquiries, contact us at our numbers or visit us at any DWBH Branches near you.
    			
    
    			
    			<br><br>
    			
    			<i class="glyphicon glyphicon-thumbs-up"></i><font size="3"> <b>Earn Big on Referrals</b></font>
    			<br>
    			</font></sup></p><p align="justify"><font size="2"><font face="times new roman" size="6">D</font><sup><font size="2">o you want to earn more income? Come let's talk and be a Loan Agent here on DWBH Lending Investors, Inc. Whether you have a fulltime job, finding a part-time job, or having no job at all.. Join us, get accredited and earn big with just a Referral. Whats more, your commission is on a percentage basis! More information on our <a href="job.html">Job Career Page</a>. Come call or visit us at any DWBH Offices near you.
    			
    
    <br><br>
    
    			</font></sup></font></p></div><font size="2"><font size="2">
    			</font></font></div><font size="2"><font size="2">
    			
    			
    			
    		
    <div class="post">

                <div class="post_body">
    			
    			<table>
    			<tbody><tr>
    
    			<td>
    			<img src="http://neo.barkada3p.com/DWBH/images/freebies.jpg"><br>
    			</td>
    			<td valign="top"><p align="justify">
    			</p><p align="justify"  style="padding:10px"><font face="times new roman" size="6">A</font><sup><font size="2">pply for a loan at any branches of DWBH Lending Investors, Inc. and get limited edition freebies such as Mugs, Ballpens, DWBH Shirts, 2014 Calendars, and many more!
    			<br><br>
    			Hurry!! For a limited time only! Avail now until supplies last !
    			</font></sup></p><font size="2">
    			</font></td>
    			</tr></tbody></table>
    			
    			</div></div>
    			
    			
    
    			
    			
    			
    			
    			
    			
    			</font></font></font></div>
    </div>
</section>