    <section class="about" id="about" style="background-color:#fff">
        <div class="container">
            <div class="row">
                <h2 class="col-lg-12 text-center section_header">
                  <hr class="duplicate left visible-desktop ">
                    Got questions? We've got answers.
                  <hr class="duplicate right visible-desktop">
                </h2>
            </div>
            <div class="row faq">

                <div class="alert alert-warning alert-dismissible" role="alert">
                      This section contains a wealth of information, related to <strong>DWBH</strong>. If you cannot find an answer to your question, 
                      make sure to contact us. 
                  </div>

                       
                  <%= render 'questions' %>


                <div class="col-lg-12 feature-box">
                    <div class="info">
                      <h3 class="mini-title">ACCEPTED LOAN COLLATERALS:</h3>
                    </div>
                    </br>
                          <div class="col-lg-6 col-lg-offset-1">
                           <div class="list-group">
                                <a href="#info" class="list-group-item active">
                                    <span class="glyphicon glyphicon-road"></span> Chattel (Vehicle)
                                </a>
                                <a href="#info" class="list-group-item">
                                    <span class="glyphicon glyphicon-file"></span> Accepts PUJs, SUVs, multicabs and pickup trucks
                                </a>
                                <a href="#info" class="list-group-item">
                                    <span class="glyphicon glyphicon-file"></span> Must be atleast 4-wheeled. Motorcycles are not accepted
                                </a>
                                <a href="#info" class="list-group-item">
                                    <span class="glyphicon glyphicon-file"></span> Year Model must be later than 2003 (2004-present)
                                </a>
                                <a href="#info" class="list-group-item">
                                    <span class="glyphicon glyphicon-file"></span> Must be registered in Cebu
                                </a>
                                <a href="#info" class="list-group-item">
                                    <span class="glyphicon glyphicon-file"></span> Not necessarily under your name or property
                                </a>
                            </div>    
                           </div>
                           
                          <div class="col-lg-5">
                           <div class="list-group">
                                <a href="#info" class="list-group-item active">
                                    <span class="glyphicon glyphicon-home"></span> Real Estate Properties (Lot)
                                </a>
                                <a href="#info" class="list-group-item">
                                    <span class="glyphicon glyphicon-file"></span> Lot must be located within San Fernando - Danao
                                </a>
                                <a href="#info" class="list-group-item">
                                    <span class="glyphicon glyphicon-file"></span> Accepts residential, commercial or agricultural lot
                                </a>
                                <a href="#info" class="list-group-item">
                                    <span class="glyphicon glyphicon-file"></span> Not necessarily under your name or property
                                </a>
                            </div>    
                           </div>
 

                      <div class="col-lg-12 alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Legal owner must agree to all terms and conditions. Must be present upon contract signing.
                      </div>
 
              </div>   

              <div class="col-lg-12 feature-box">
                    <div class="info">
                      <h3 class="mini-title">ACCEPTED VALID ID's:</h3>
                    </div>
                    </br>
                    
                          <div class="col-lg-6 col-lg-offset-1">
                               <div class="list-group">
                                    <a href="#info" class="list-group-item">
                                        <span class="glyphicon glyphicon-file"></span> Driver's License
                                    </a>
                                    <a href="#info" class="list-group-item">
                                        <span class="glyphicon glyphicon-file"></span> Postal ID
                                    </a>
                                    <a href="#info" class="list-group-item">
                                        <span class="glyphicon glyphicon-file"></span> Voter's ID
                                    </a>
                                    <a href="#info" class="list-group-item">
                                        <span class="glyphicon glyphicon-file"></span> Government Service Insurance System (GSIS ID)
                                    </a>
                                    <a href="#info" class="list-group-item">
                                        <span class="glyphicon glyphicon-file"></span> Senior Citizen's ID Card
                                    </a>
                                </div>    
                               </div>
                               
                              <div class="col-lg-5">
                               <div class="list-group">
                                    <a href="#info" class="list-group-item">
                                        <span class="glyphicon glyphicon-file"></span> Professional Regulation Commission (PRC ID)
                                    </a>
                                    <a href="#info" class="list-group-item">
                                        <span class="glyphicon glyphicon-file"></span> PhilHealth Identification Card (PIC)
                                    </a>
                                    <a href="#info" class="list-group-item">
                                        <span class="glyphicon glyphicon-file"></span> Social Security System (SSS ID)
                                    </a>
                                    <a href="#info" class="list-group-item">
                                        <span class="glyphicon glyphicon-file"></span> Permit to Carry Firearms
                                    </a>
                                    <a href="#info" class="list-group-item">
                                        <span class="glyphicon glyphicon-file"></span> Passport
                                    </a>
                                </div>    
                               </div>
                  

           </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">-->
                <!--    <a href="#" class="btn btn-lg btn-outline">-->
                <!--        <i class="fa fa-download"></i> Download Theme-->
                <!--    </a>-->
                <!--</div> -->
            </div>
        </div>
</section>
