<footer class="footer-area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="footer">
						<div class="row">
							<div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
								<div class="news-letter">
                  <h2>DWBH Lending Investors</h2>
                     <p style="text-align: justify; ">We offer mainly "Speedy and Easy" secured loans to the middle emerging market with the objective of providing them with immediate and easy solutions to yout financial needs.</p>
								</div>
							</div>
							<div class="col-xs-12 col-lg-4 col-md-4 col-sm-4">
								<div class="news-letter" style="background: #fff">
 									<div class="fb-follow" data-href="https://www.facebook.com/dwbh.lending.5" data-layout="standard" data-show-faces="true"></div>
								</div>
							</div>
							<div class="col-xs-12 col-md-5 col-lg-5 col-sm-5">
								<div class="footer-menu-area">
									<div class="footer-menu">
										<ul>
											<li><a href="/#services">Loan Services</a></li>
											<li><a href="/#calculator">Loan Calculator</a></li>
											<li><%= link_to 'Contact Us', contact_path  %></li>
											<li><%= link_to 'About Us', about_us_path  %></li>
										</ul>
									</div>
									<div class="footer-menu">
										<ul>
											<li><%= link_to 'Help & Inquiries', faq_path %></li>
											<li><a href="#">Download Forms</a></li>
											<li><a href="#">Privacy Policy</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom-area">
				<div class="row">
					<div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
						<div class="copyright">
							<p>&copy; 2015 <%= link_to "DWBH Lending Investors, Inc. ", root_url %> All rights reserved.</p>
						</div>
					</div>
					<div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
						<div class="footer-payment-logo">
							
				                <ul class="list-inline">
				                    <li>
				                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
				                    </li>
				                    <!--<li>-->
				                    <!--    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>-->
				                    <!--</li>-->
				                    <li>
				                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
				                    </li>
				                    <li>
				                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
				                    </li>
				                    <!--<li>-->
				                    <!--    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>-->
				                    <!--</li>-->
				                </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
</footer>