

<!-- Footer -->
<!--
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>For inquiries</h3>
                    <p>Contact us at (032) 253-5407 or (032) 268 - 0239.</p>
                </div>
                <div class="footer-col col-md-4">

                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                        </li>
                    </ul>

                    &copy; 2015 <%= link_to "DWBH Lending Inestors, Inc. ", root_url %> All rights reserved.
                </div>
                <div class="footer-col col-md-4">
                    <h3>DWBH Lending Inestors</h3>
                    <p style="text-align: justify;text-justify: inter-word;">As of present, we have been a key player in the consumer finance industry and a leading financial instution that aids you with assistance. We are one of the consumer loan center in the industry today offering a variety of products with a competitive lending rates. We offer mainly "Speedy and Easy" secured loans to the middle emerging market with the objective of providing them with immediate and easy solutions to their financial needs.</p>
                </div>
            </div>
        </div>
    </div>
</footer>-->

<footer class="footer-area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="footer">
						<div class="row">
							<div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
								<div class="news-letter">
                  <h2>DWBH Lending Investors</h2>
                     <p style="text-align: justify; ">We offer mainly "Speedy and Easy" secured loans to the middle emerging market with the objective of providing them with immediate and easy solutions to their financial needs.</p>
								</div>
							</div>
							<div class="col-xs-12 col-lg-4 col-md-4 col-sm-4">
								<div class="news-letter">
									<h2>Newsletter</h2>
									<p>Subscribe to our newsletter for breaking news and sneak previews.</p>
									<form action="#">
										<p><input type="text" placeholder="Enter your email..."></p>
										<p><input type="submit" value="Subscribe"></p>
									</form>
								</div>
							</div>
							<div class="col-xs-12 col-md-5 col-lg-5 col-sm-5">
								<div class="footer-menu-area">
									<div class="footer-menu">
										<ul>
											<li><a href="#">Loan Services</a></li>
											<li><a href="#">Contact Us</a></li>
											<li><a href="#">Loan Calculator</a></li>
										</ul>
									</div>
									<div class="footer-menu">
										<ul>
											<li><a href="#">Help &amp; Inquiries</a></li>
											<li><a href="#">Download Forms</a></li>
											<li><a href="#">Privacy Policy</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom-area">
				<div class="row">
					<div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
						<div class="copyright">
							<p>&copy; 2015 <%= link_to "DWBH Lending Investors, Inc. ", root_url %> All rights reserved.</p>
						</div>
					</div>
					<div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
						<div class="footer-payment-logo">
                <ul class="list-inline">
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                    </li>
                </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
</footer>